.heading{
    
    margin-left: -2%;
    margin-top: 6%;
    padding: 0% 5% 2%  5%;

}
.btn0{
    background-color: #1995AF;
    padding: 10px 400%;
    border-radius: 4px;
    border-style: none;
}

.required{

    font-size: 10px;
    color: red;
    padding: 0% 5%;
    width: 133%;
}



/* @media (max-width:991px){
    .btn0{
        padding:10px 20% ;
    }
    .model{
        display: flex;
        flex-direction:column;
    }

} */
