* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
  }

  /* nav{
      position: sticky;
  } */

  .nav-grid{
      background-color: #1995AF;
      display: grid;
      grid-template-columns: 15% 1fr 2fr 1%;
      position: fixed;
      left: 0;
      top: 0;
      width:100%;
      z-index: 1;
      transition: 0.6s ease-in-out;
      padding: 1%;
      box-shadow: 2px 10px 30px rgba(0, 8, 8, 0.308)
    }
  .text{
      color: black;
      text-decoration: none;
      font-size: 20px;
      
  }
.logo{
    grid-column: 1/2;
     justify-content: center;
    display: inline-flex;
}
.logo-image{
    margin-top: 5%;
    height: 70%;
    width: 50%;
}
.nav-icons{
    grid-column: 3/4;
}
.title{
    margin-top: 20%;
}
.nav-icons ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-box{
    margin-bottom: 0%;
}
.item{
    margin-top: 2%;
}
.text:hover{
    background-color: rgb(248, 78, 11);
    border-radius: 10px;
    transition: all 0.2s ease-out;
    color: white;
    box-shadow: 1px 1px 3px 3px rgba(7, 2, 0, 0.287);
    padding: 5px;
    
}

@media (max-width:937px){
    .text{
        font-size: 16px;
    }
    .logo-image{
        margin-top: 5%;
        height: 60%;
        width: 50%;
    }
    .title{
        margin-top: 7%;
    }
}
@media (max-width:620px){
    .title{
        margin-top: 7%;
        font-size: 20px;
    }
}

@media (max-width:619px){

    .nav-grid{

        display: grid;
      grid-template-columns: 15% 1fr 10fr 1%;

    }

}

@media (max-width:448px){

    .text{
        font-size: 14px;
    }
    .logo-image{
        margin-top: 5%;
        height: 50%;
        width: 50%;
    }
    .title{
        margin-top: 20%;
        font-size: 14px;
    }

}
@media (max-width:400px){

    .nav-grid{

        display: grid;
      grid-template-columns: 15% 1fr 120fr 1%;

    }
    .text{
        font-size: 16px;
    }
    .title{

        display: none;
    }
    .logo-image{
        margin-top: 5%;
        height: 60%;
        width: 50%;
    }

    
}


