.navbar{
    margin: 0%;
    height:10%;
    width: 100%;
    margin-top: 0%;
    background-color: #1995AF ;
    position: sticky;
}
.navul{
    float: left;
    text-decoration: none;
    list-style: none;
    margin-bottom: 0px;
}
.send{
    font-weight: 700;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbutton{
    position: absolute;
    right: 3%;
    bottom: 25%;
    
}
#auth-button1{

    font-weight: 500;
    font-size: 18px;
    margin-bottom: -7%;
}
#auth-button2{

    font-weight: 500;
    font-size: 18px;
    margin-bottom: -7%;
}

